body {
    font-family: Trebuchet ms;
    color: #00D76C;
    background-color: #F2E3D7;
    margin: 0em;
}

header {
    background-color: white;
    padding: 0em;
    margin: 0em;
}

img {
    width: 100%;

}

a {
    text-decoration: none;
}

p,
h3 {
    color: black;
    margin: 1em;
    color: #2800A0
}

button {
    color: white;
    background-color: #00D76C;
    border-color: #1E9362;
    border-radius: 3em;
    padding: 1em;
    margin: 1em 0em 2em 0em;
    align-self: center;

}

#sorteer {
    color: white;
    background-color: #ED3868;
    align-self: flex-end;
    border-color: #CB2B56;
    float: right;
    margin-right: 3em;
    border-radius: 5em;

}

article footer ul {
    display: flex;
    padding: 0;
}

article footer ul li {
    list-style-type: none;
    text-indent: -666em;
    width: 10%;
    background-image: url(groene-ster.png);
    background-size: cover;
    height: 2em;
    width: 2em;
    margin: 0.5em;
}

article footer {
    margin: 0em 0em 1em 1em;
}


a article {
    border: 0.1em solid #CCCCCC;
    border-radius: 2em;
    background-color: white;
    margin: 2em 1em 1em 2em;

}

p {
    max-width: 20em;
}

a {
    flex-shrink: 0;
}

a img {
    width: 22em;
    border-radius: 1em 1em 0em 0em;
}

#logo {
    width: 10em;
    margin: 1em 1em 0.5em 1em;
}

#iconen {
    position: absolute;
    right: 0;
    width: 2.5em;
    margin: 0.6em 1em 1em 4em;
}

#icoon {
    position: absolute;
    right: 0;
    width: 2em;
    padding: 1em 4em;
}

h2,
h1 {
    margin: 1em 0em 0em 1.5em;
}

section {
    display: flex;
    flex-direction: column;
    border-radius: 2em;
}

section div {
    display: flex;
    overflow-x: scroll;
}
